<!-- Menu to be displayed on all pages for logged-in user -->
<nav class="ui secondary pointing menu">
    <header class="header item"> <a href="/home">MyTweet</a> </header>
    <div class="right menu">
        <a class="item" href="">Settings</a>
        <a class="item" href="/logout">Logout</a>
    </div>
</nav>