<nav class="ui inverted menu">
    <header class="header item"> <a href="">MyTweet</a> </header>
    <div class="right menu">
        <a class="item" href="">one</a>
        <a class="item" href="">two</a>
        <a class="item" href="">three</a>
        <a class="item" href="/logout">Logout</a>
    </div>
</nav>