<!-- Form to create a new tweet-->
<div class="ui accordion">
  <div class="title">
    <i class="huge circular inverted violet comments icon"></i>
  </div>
  <div class="content">
    <form action="/newTweet" method="POST" class="ui form">
      <div class="field" name="content">
        <textarea rows="6" maxlength="140" placeholder="What's on your mind?" style="resize: none"></textarea>
      </div>
      <button class="ui violet basic button"><h3>Post Tweet</h3></button>
    </form>
  </div>
</div>