<!-- Form to create a new tweet-->
<div class="ui form">
  <div class="field">
    <textarea rows="3" maxlength="140"placeholder="What's on your mind?" style="resize: none"></textarea>
  </div>
  <button class="ui violet basic button"><h3>Tweet</h3></button>
</div>