<!-- Tweet List for logged-in user, including deletion options -->
<section>
<form method="POST" action="/deleteTweets/{{user.email}}">
  <!-- Checkbox allowing allTweet selection & delete button -->
  <div class="ui two column grid">
    <div class="ui left bottom aligned column">
      <div class="ui slider checkbox all">
        <label>Select all MyTweets</label>
        <input id="selectall" type="checkbox">
      </div>
    </div>
    <div class="ui right aligned column">
      <a href="/">
        <button class="ui red basic button">Delete MyTweets</button>
      </a>
    </div>
  </div>
  {{> deletetweetlist }}
</form>
</section>