<!-- Tweet List for logged-in user, including deletion options -->
<section>
<form method="POST" action="/deleteTweets/{{user.email}}">
  <!-- Checkbox allowing allTweet selection & delete button -->
  <div class="ui two column grid">
    <div class="ui left bottom aligned column">
      <div class="ui slider checkbox all">
        <label>Select all MyTweets</label>
        <input id="selectall" type="checkbox">
      </div>
    </div>
    <div class="ui right aligned column">
      <a href="/">
        <button class="ui red basic button">Delete MyTweets</button>
      </a>
    </div>
  </div>

  <!-- List of all the user's tweet's -->
  {{#each tweets}}
    <!-- Displays a view of a single tweet -->
    <section class="ui stacked segment">
      <div class="ui three column grid">
        <div class="ui row">
          <div class="ui four wide column">
          </div>
          <div class="ui column">
            <h5>{{date}}</h5>
          </div>

          <!-- Checkbox for deletion selection -->
          <div class="ui right aligned column">
            <div class="ui slider checkbox">
              <label><i class="mini circular inverted red close icon"></i></label>
              <input type="checkbox" name="{{_id}}">
            </div>
          </div>
        </div>

        <!-- content -->
        <div class="ui row">
          <div class="ui right floated twelve wide column">
            {{content}}
          </div>
        </div>
      </div>
    </section>
  {{/each}}
</form>
</section>