<!-- Displays a view of a single tweet -->
<section class="ui stacked segment">
  <div class="ui two column grid">
    <div class="ui row">
      <div class="ui four wide column">
        <p>User name</p>
      </div>
      <div class="ui column">
        <p>Day & Date</p>
      </div>
    </div>
    <div class="ui row">
      <div class="ui right floated twelve wide column">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minis</p>
      </div>
    </div>
  </div>
</section>