<!-- Logged-in user's home page -->
{{> homemenu }}

<section class="ui raised segment">
  <h2>User's MyTweet Page</h2>
  <button class="ui violet basic button">My Profile Page</button>
  <div class="ui horizontal divider header">
    MyTweet  <i class="comments icon"></i>Feed
  </div>
  <div class="ui three column stackable grid">
    <div class="ui four wide center aligned column">
      {{> newtweet }}
    </div>
    <div class="ui eight wide column">
      {{> tweetview }}
    </div>
    <div class="ui four wide column">
    </div>
  </div>
</section>