<!-- Logged-in user's home page -->
{{> homemenu }}

<section class="ui raised segment">

  <!-- Header -->
  <h2>{{user.firstName}}'s Homepage</h2>
  <a href="/profilepage/{{user.email}}">
    <button class="ui violet basic button">My Profile Page</button>
  </a>

  <!-- Divider between header and main content -->
  <div class="ui horizontal divider header">
    MyTweet  <i class="comments icon"></i>Feed
  </div>

  <!-- Main content -->
  <div class="ui three column stackable grid">
    <div class="ui four wide center aligned column">
      {{> newtweet }}
    </div>
    <div class="ui eight wide column">
      {{> alltweets}}
    </div>
    <div class="ui four wide column">
    </div>
  </div>
</section>