{{> homemenu }}

<section class="ui raised segment">
  <div class="ui two column grid">
    <div class="ui column">
      <div class="ui row">
        <h3>Successfully logged in</h3>
      </div>
      <div class="ui row">
        <div class="field">
          <textarea></textarea>
        </div>
      </div>
    </div>
    <div class="ui column">

    </div>
  </div>
</section>