<!-- Logged-in user's home page -->
{{> homemenu }}

<section class="ui raised segment">
  <h2>User's MyTweet Page</h2>
  <button class="ui violet basic button">My public page</button>
  <div class="ui horizontal divider header">
    MyTweet  <i class="comments icon"></i>Feed
  </div>
  <div class="ui two column stackable grid">
    <div class="ui six wide column">
      {{> newtweet }}
    </div>
    <div class="ui ten wide column">
      {{> tweetview }}
    </div>
  </div>
</section>