<!-- Launch page -->
<nav class="ui two item secondary pointing menu">
  <a class="item" href="/signup"> Signup</a>
  <a class="item" href="/login">  Login</a>
</nav>

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
        </aside>
        <article class="ten wide column">
        </article>
    </div>
</section>