<!-- Launch page -->
<nav class="ui two item secondary pointing menu">
  <a class="item" href="/signup"><h3>Signup</h3></a>
  <a class="item" href="/login"><h3>Login</h3></a>
</nav>

<section class="ui segment">
  <img src="images/wire.jpg" style="width: 100%">
  <aside class="ui two column grid">
    <div class="ui row">
      <div class="ui column"><h1>Welcome to MyTweet</h1></div>
      <div class="ui bottom aligned column"><h3>Find out what all the little birdies are saying...</h3></div>
    </div>
  </aside>
</section>