{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
        </aside>
        <article class="ten wide column">
        </article>
    </div>
</section>