<!-- Sign up page -->
<nav class="ui three item secondary pointing menu">
  <header class="header item"> <a href="/">MyTweet</a> </header>
  <a class="active item" href="/signup"> Signup</a>
  <a class="item" href="/login">  Login</a>
</nav>

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
        <form action="/register" method="POST">
          {{> registeruser }}
        </form>
        {{> formerror }}
      </div>
    </div>
  </div>
</section>