<!-- Basic layout for all html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
</head>
<body style="background-image: url('images/birdsedited2.jpg'); background-size:cover">
<section class="ui container">
    {{{content}}}
</section>

<!-- Script to provide functionality for
     Semantic ui accordian, dropdown & checkbox elements
-->
<script>
  $('.ui.accordion').accordion();

  $('.ui.slider.checkbox').checkbox();

  $('.ui.dropdown').dropdown();

  $('#selectall').change(function() {
    const checkboxes = $(this).closest('form').find(':checkbox');
    if($(this).is(':checked')) {
      checkboxes.prop('checked', true);
    } else {
      checkboxes.prop('checked', false);
    }
  });

  $('#selectalltweets').change(function() {
    const checkboxes = $(this).closest('form').find(':checkbox');
    if($(this).is(':checked')) {
      checkboxes.prop('checked', true);
    } else {
      checkboxes.prop('checked', false);
    }
  });
</script>
</body>
</html>